@using HotelManagementApp.ViewModels.Home
@using HotelManagementApp.ViewModels.Enums

@model HotelManagementApp.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Главная страница";
}

<form method="get">
    <div class="form-inline form-group">
        <div class="form-inline form-group">
            <label asp-for="Capacity" class="control-label"></label><br />
            <select asp-for="CapacityOrder" asp-items="Html.GetEnumSelectList<CompareOrder>()" class="form-control"></select>
            <input asp-for="Capacity" class="form-control" />
        </div>
        <div class="form-inline form-group">
            <label asp-for="Types" class="control-label"></label><br />
            <select asp-for="TypeId" asp-items="Model.Types"></select>
        </div>
        <div class="form-inline form-group">
            <label asp-for="Price" class="control-label"></label><br />
            <select asp-for="PriceOrder" asp-items="Html.GetEnumSelectList<CompareOrder>()" class="form-control"></select>
            <input asp-for="Price" class="form-control" />
        </div>
        @Html.HiddenFor(model => model.SortKey)
        @Html.HiddenFor(model => model.SortState)
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    <sort-header action="Index" model="@Model" sort-order="@Model.SortState" current-key="Hotel" active-key="@Model.SortKey">
                        Отель
                    </sort-header>
                </th>
                <th scope="col">
                    Фото
                </th>
                <th scope="col">
                    <sort-header action="Index" model="@Model" sort-order="@Model.SortState" current-key="Description" active-key="@Model.SortKey">
                        Описание
                    </sort-header>
                </th>
                <th scope="col">
                    <sort-header action="Index" model="@Model" sort-order="@Model.SortState" current-key="Capacity" active-key="@Model.SortKey">
                        Вместимость
                    </sort-header>
                </th>
                <th scope="col">
                    <sort-header action="Index" model="@Model" sort-order="@Model.SortState" current-key="Type" active-key="@Model.SortKey">
                        Тип
                    </sort-header>
                </th>
                <th scope="col">
                    <sort-header action="Index" model="@Model" sort-order="@Model.SortState" current-key="Price" active-key="@Model.SortKey">
                        Стоимость(сутки)
                    </sort-header>
                </th>
                <th scope="col">
                    Действия
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apart in Model.Aparts)
            {
                <tr>
                    <th scope="row">@apart.Hotel.Name</th>
                    <td><img src=@apart.Image class="img-rounded" alt="@apart.Hotel.Name" width="100"></td>
                    <td>@apart.Description</td>
                    <td>@apart.Capacity</td>
                    <td>@apart.Type</td>
                    <td>@apart.Price</td>
                    <td>@{await Html.RenderPartialAsync("Partial/_BookingActionsPartial", apart.Id);}</td>
                </tr>
            }
        </tbody>
    </table>
</div>