@using HotelManagementApp.ViewModels.Booking
@model HotelManagementApp.ViewModels.Booking.BookingViewModel
@{
    ViewData["Title"] = "Забронировать";
}

<h2>@ViewData["Title"]</h2>

<form asp-antiforgery="true" asp-controller="Booking" asp-action="Create">
    <div>
        <div>
            <p>Отель: @Model.Apart.Hotel.Name</p>
        </div>
        <div>
            <img src=@Model.Apart.Image class="img-rounded" alt="@Model.Apart.Description">
        </div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <input asp-for="UserId" hidden />
        <input asp-for="Apart.Id" hidden />
        <input asp-for="Apart.Hotel.Name" hidden />
        <input asp-for="Apart.Image" hidden />
        <input asp-for="Apart.Description" hidden />
        <input asp-for="Apart.Price" hidden />
        <div>
            <label asp-for="StartDate"></label><br />
            <input id="start-date-input" type="date" asp-for="StartDate" />
            <span asp-validation-for="StartDate"></span>
        </div>
        <div>
            <label asp-for="ExpectedEndDate"></label><br />
            <input id="end-date-input" type="date" asp-for="ExpectedEndDate" />
            <span asp-validation-for="ExpectedEndDate"></span>
        </div>
        <div id="price">
            <p>@Model.Apart.Price руб</p>
            @*todo: add price calculation*@
        </div>
        <div>
            <input type="submit" value="Забронировать" />
        </div>
    </div>

    <script>

        function datediff(first, second) {
            return Math.round((second-first)/(1000*60*60*24));
        }

        function CalculatePrice() {
            var startDate = new Date(document.getElementById('start-date-input').value);
            var endDate = new Date(document.getElementById('end-date-input').value);
            if (startDate < endDate) {
                var price =parseFloat('@Model.Apart.Price');
                document.getElementById('price').innerHTML = (Number((datediff(startDate, endDate) * price).toFixed(1))) + ' руб';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('start-date-input').onchange = CalculatePrice;
            document.getElementById('end-date-input').onchange = CalculatePrice;
            CalculatePrice();
        },false);


    </script>
</form>



